<div ng-controller="FormAuthorizationController">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <h3>Form Authorization</h3>
                <form>
                    <fieldset class="form-group">
                        <label>Email</label>
                        <input ng-model="email" class="form-control" />
                        <button class="btn btn-primary btn-sm" ng-click="Create()">Add User</button>
                    </fieldset>
                    <div ng-repeat="item in Items">
                        <button class="btn btn-danger btn-sm" ng-click="Delete(item)">Delete</button>

                        <label title="{{item.User.Email}}">{{item.AspNetUser.Email | limitTo:20}}</label>
                        <fieldset class="input-group">
                            <label>Create Form</label>
                            <input bs-switch ng-model="item.IsCreateForm" ng-change="Update(item)" type="checkbox" switch-on-text="True" switch-off-text="False" ng-true-value='true' ng-false-value='false'>
                            <label>Read Form</label>
                            <input bs-switch ng-model="item.IsReadForm" ng-change="Update(item)" type="checkbox" switch-on-text="True" switch-off-text="False" ng-true-value='true' ng-false-value='false'>
                            <label>Update Form</label>
                            <input bs-switch ng-model="item.IsUpdateForm" ng-change="Update(item)" type="checkbox" switch-on-text="True" switch-off-text="False" ng-true-value='true' ng-false-value='false'>
                            <label>Delete Form</label>
                            <input bs-switch ng-model="item.IsDeleteForm" ng-change="Update(item)" type="checkbox" switch-on-text="True" switch-off-text="False" ng-true-value='true' ng-false-value='false'>
                            <label>Create Data</label>
                            <input bs-switch ng-model="item.IsCreateData" ng-change="Update(item)" type="checkbox" switch-on-text="True" switch-off-text="False" ng-true-value='true' ng-false-value='false'>
                            <label>Read Data</label>
                            <input bs-switch ng-model="item.IsReadData" ng-change="Update(item)" type="checkbox" switch-on-text="True" switch-off-text="False" ng-true-value='true' ng-false-value='false'>
                            <label>Update Data</label>
                            <input bs-switch ng-model="item.IsUpdateData" ng-change="Update(item)" type="checkbox" switch-on-text="True" switch-off-text="False" ng-true-value='true' ng-false-value='false'>
                            <label>Delete Data</label>
                            <input bs-switch ng-model="item.IsDeleteData" ng-change="Update(item)" type="checkbox" switch-on-text="True" switch-off-text="False" ng-true-value='true' ng-false-value='false'>
                        </fieldset>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div> 