<div ng-controller="FormDataController" class="container">
    <h3>{{Items[0].FormName}}</h3>
    <div ng-show="Items.length === 0">
        There is no data found.
    </div>
    <div ng-show="Items.length > 0">
        <div id="data">
            <table class="table">
                <thead ng-repeat="Item in Items | limitTo:1">
                    <tr>
                        <th></th>
                        <th ng-repeat="(key, value) in Item" ng-if="$index > 2">{{key}}</th>
                    </tr>
                </thead>
                <tbody ng-repeat="Item in Items" ng-click="RowClick(Item)" ng-style="Item.Id === SelectedItem.Id ? {'background-color': '#428bca'} : { 'background-color': 'white'} ">
                    <tr>
                        <td>
                            <button class="btn btn-sm btn-primary" ng-click="EditValue(Item)">Edit</button>
                            <button class="btn btn-sm btn-danger" ng-click="DeleteValue(Item)">Delete</button>
                        </td>
                        <td ng-repeat="(key, value) in Item" ng-if="$index > 2">
                            <span ng-if="!$last && !IsGuid(value)">{{value}}</span>
                            <span ng-if="!$last && IsGuid(value)"><a href="/ValueDetailsApi/Get/{{value}}" ng-mouseover="MouseOverPicture(value)">Link</a></span>
                            <span ng-if="$last">{{value | date: 'MM/dd/yyyy hh:mm:ss a'}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button ng-click="ExportExcel()" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-download-alt"></span></button>
    </div>
</div>