<div ng-controller="ManageController">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <h2>Forms</h2>
                <div ng-form="formForm">
                    <fieldset class="form-group">
                        <label for="">Form Name</label>*
                        <input type="text" class="form-control input-sm" ng-model="TempForm.Name" placeholder="Name" required />
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="">Form Description</label>
                        <input type="text" class="form-control input-sm" ng-model="TempForm.Description" placeholder="Description" />
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="">Publish Url</label>
                        <input type="text" class="form-control input-sm" ng-model="TempForm.PublishUrl" placeholder="http://url.com/api/resource" />
                    </fieldset>
                    <button type="submit" class="btn btn-sm btn-primary" ng-disabled="!formForm.$valid" ng-click="CreateForm()">Create</button>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Form Name</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="Form in Forms" ng-click="FormRowClick(Form)" ng-style="Form.Id === SelectedForm.Id ? {'background-color': '#428bca'} : { 'background-color': 'white'} ">
                        <tr>
                            <td><button class="btn btn-sm btn-danger" ng-click="DeleteForm(Form)">Delete</button></td>
                            <td>{{Form.Name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <h2>Form Details</h2>
                <div ng-form="formDetails">
                    <fieldset class="form-group">
                        <label for="">Form Item Name</label>*
                        <input type="text" class="form-control input-sm" ng-model="TempFormItem.Name" placeholder="Name" required />
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="">Form Type</label>*
                        <select class="form-control input-sm" ng-model="DropDownFormDetailType" ng-options="Item.Name for Item in FormDetailTypes" required></select>
                        <!--<input type="text" ng-model="Item.Name" uib-typeahead="Product for Product in Products | filter:$viewValue | limitTo:8" class="form-control">-->
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="">Form Item Description</label>
                        <input type="text" class="form-control input-sm" ng-model="TempFormItem.Description" placeholder="Description" />
                    </fieldset>
                    <!--<fieldset class="form-group">
                        <label for="">Form Item Title</label>
                        <input type="text" class="form-control input-sm" ng-model="TempFormItem.Title" placeholder="Title" />
                    </fieldset>-->
                    <fieldset class="form-group">
                        <label for="">Is Required</label>
                        <input type="checkbox" ng-model="TempFormItem.IsRequired"/>
                    </fieldset>
                    <button type="submit" class="btn btn-sm btn-primary" ng-click="CreateFormDetail()" ng-disabled="SelectedForm == null || !formDetails.$valid">Create</button>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Form Item Name</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="FormItem in FormDetails" ng-click="FormItemRowClick(FormItem)" ng-style="FormItem.Id === SelectedFormDetail.Id ? {'background-color': '#428bca'} : { 'background-color': 'white'} ">
                        <tr>
                            <td><button class="btn btn-sm btn-danger" ng-click="DeleteFormDetail(FormItem)">Delete</button></td>
                            <td>{{FormItem.Name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3" ng-show="SelectedFormDetailType.Name == 'Drop Down'">
                <h2>Form Detail Options</h2>
                <div ng-form="formDetailsOptions">
                    <fieldset class="form-group">
                        <label for="">Form Item Name</label>*
                        <input type="text" class="form-control input-sm" ng-model="TempFormDetailOption.Name" placeholder="Name" required />
                    </fieldset>
                    <button type="submit" class="btn btn-sm btn-primary" ng-click="CreateFormDetailOption()" ng-disabled="SelectedFormDetail == null || !formDetailsOptions.$valid">Create</button>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Form Detail Option Name</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="FormDetailOption in FormDetailsOptions" ng-click="FormDetailOptionRowClick(FormItem)" ng-style="FormDetailOption.Id === SelectedFormDetailOption.Id ? {'background-color': '#428bca'} : { 'background-color': 'white'} ">
                        <tr>
                            <td><button class="btn btn-sm btn-danger" ng-click="DeleteFormDetailOption(FormDetailOption)">Delete</button></td>
                            <td>{{FormDetailOption.Name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>
