<!--JQUERY-->
<script src="~/Scripts/Dependencies/jquery/2.2.1/jquery.js"></script>
<!--ANGULAR-->
<script src="~/Scripts/Dependencies/angularjs/1.5.3/angular.js"></script>
<script src="~/Scripts/Dependencies/angularjs/1.5.0-beta.2/angular-route.js"></script>
<script src="~/Scripts/Dependencies/angularjs/1.5.3/angular-animate.js"></script>
<link href="~/Scripts/Dependencies/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
<!--BREEZE ANGULAR-->
<script src="~/Scripts/Dependencies/breezejs/1.5.5/breeze.debug.js"></script>
<script src="~/Scripts/Dependencies/breezejs/adapters/breeze.bridge.angular.js"></script>
<!--UI.BOOTSTRAP-->
<script src="~/Scripts/Dependencies/angular-ui-bootstrap/0.14.3/ui-bootstrap.js"></script>
<script src="~/Scripts/Dependencies/ui-bootstrap/1.3.2/ui-bootstrap-tpls-1.3.2.js"></script>
<!--UI.GRID-->
<script src="~/Scripts/Dependencies/angular-ui-grid/3.0.7/ui-grid.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/Dependencies/angular-ui-grid/3.0.7/ui-grid.css">
<!--MOMENT-->
<script src="~/Scripts/Dependencies/momentjs/2.10.6/moment.js"></script>
<!--ANGULAR NGMap http://ngmap.github.io/-->
<!--<script src="~/Scripts/Dependencies/ngmap/googlemapapi.js"></script>
<script src="~/Scripts/Dependencies/ngmap/ng-map.js"></script>-->
<!--ANGULAR LOCAL STORAGE-->
@*<script src="~/Scripts/Dependencies/angular-local-storage/angular-local-storage.js"></script>*@
<!--LOCAL STORAGE DATABASE-->
<script src="~/Scripts/Dependencies/local-storage-database/2.3.1/localstoragedb.js"></script>
<!--SERVICES-->
<script src="~/App/Services/Services.js"></script>
<script src="~/App/Services/breeze/breezeservice.js"></script>
<script src="~/App/Services/breeze/metadata.js"></script>
<script src="~/App/Services/ServerDatabaseServices/FormService.js"></script>
<script src="~/App/Services/ServerDatabaseServices/FormDetailsService.js"></script>
<script src="~/App/Services/ServerDatabaseServices/FormDetailsTypeService.js"></script>
<script src="~/App/Services/ServerDatabaseServices/FormDetailsOptionsService.js"></script>
<script src="~/App/Services/ServerDatabaseServices/ValueService.js"></script>
<script src="~/App/Services/ServerDatabaseServices/ValueDetailsService.js"></script>
<script src="~/App/Services/SyncDatabaseServices/SyncDatabaseService.js"></script>
<!--APP-->
<script src="~/App/Forms/App.js"></script>
<script src="~/App/Forms/Controllers/FormController.js"></script>
<script src="~/App/Forms/Controllers/ManageController.js"></script>
<div ng-app="Forms">
    <div ng-view>

    </div>
</div>